<div class="cart" gorilla-click="toggleCartBox">
    <svg class="icon icon-cart">
        <use href="/assets/images/sprite.svg#icon-cart"></use>
    </svg>

    <span class="<%= cart.length === 0 ? 'cart__count inactive' : 'cart__count' %>"><%= cart.length %></span>

    <ul class="<%= display ? 'cart__lists' : 'cart__lists inactive' %>">
        <% cart.forEach(function(item) { %>
            <li class="cart__lists--item" data-key="<%= item.key %>">
                <figure>
                    <img src="<%= item.img %>">
                </figure>
                <div class="cart__data">
                    <p class="cart-title"><%= item.title %></p>
                    <p class="cart-author"><%= item.author %></p>
                </div>
                <svg class="icon icon-cross" gorilla-click="deleteItem">
                    <use href="/assets/images/sprite.svg#icon-cross"></use>
                </svg>
            </li>
        <% }); %>
    </ul>
</div>
